<footer>
  <nav>
    <ul>
      <li>
        <%= link_to "Benjamin Patch", "/index.html" %>
      </li>
      <li>
        <%= link_to "Filmography", "/filmography.html" %>
      </li>
      <li>
        <%= link_to "Biography", "/biography.html" %>
      </li>
      <li>
        <%= link_to "Connect", "/connect.html" %>
      </li>
    </ul>
  </nav>

  <hr>

  <p>
    Written, Designed, and Coded by Benjamin Patch
  </p>
  
  <p>
    &copy; <%= Time.now.year %> Benjamin Patch
  </p>
</footer>