---
title: Filmography

meta_description: Benjamin Patch studies cinema and history at Binghamton University. He previously ran a web development business and served in the US Army.

priority: 0.7
change_frequency: monthly
---

<h1>Filmography</h1>

<hr>

<h2>Shelf Space</h2>

<ul>
  <li><strong>Release Date:</strong> May 2016</li>
  <li><strong>Credits:</strong> Writer, Director, Editor</li>
  <li><strong>Runtime:</strong> 4 minutes 33 seconds</li>
  <li>
    <strong>Synopsis:</strong> An evolutionary journey from the beginning of
    time to beyond the infinite.
    Inspired by Stanley Kubrick's <em>2001: A Space Odyssey</em>.
    Like Kubrick's iconic masterpiece, "Shelf Space" is open to numerous
    interpretations and meanings, which are left in the viewer's hands to
    create.
  </li>
  <li>
    <strong>Production Notes:</strong> Writer/Director Benjamin Patch was
    searching for a simple way to construct a narrative spanning an immense
    period of time.
    “Shelf Space” employs lateral tracking shots and deliberate direction of
    movement to carry the viewer from the familiar,
    to beyond our current understanding on the world.
  </li>
</ul>

<%= link_to "Watch: Shelf Space",
            "/filmography/shelf-space.html",
            class: "button" %>

<hr>

<h2>Flicker</h2>

<ul>
  <li><strong>Release Date:</strong> March 2016</li>
  <li><strong>Credits:</strong> Writer and Key Grip</li>
  <li><strong>Runtime:</strong> 5 minutes 39 seconds</li>
  <li>
    <strong>Synopsis:</strong> While this film is designed to be open for
    interpretation, it is generally helpful to understand it is a metaphorical
    adventure though the memories of the protagonist – an experimental narrative
    created with experimental filmmaking techniques.
  </li>
  <li>
    <strong>Production Notes:</strong> This film was made for the Spring 2016
    Film48 competition at Binghamton University where teams are given prompts
    and then only 48-hours to write, shoot, edit, and finalize a short film.
    This film won the “Best Picture” and “Fan Favorite” awards for the Film48
    competition.
  </li>
</ul>

<%= link_to "Watch: Flicker",
            "/filmography/flicker.html",
            class: "button" %>

<hr>

<h2>The Plastic Hero</h2>

<ul>
  <li><strong>Release Date:</strong> 2010</li>
  <li><strong>Credits:</strong> Writer and Director</li>
  <li><strong>Runtime:</strong> 2 minutes 43 seconds</li>
  <li>
    <strong>Synopsis:</strong> This short experimental-narrative film is a
    composite of stop-motion animation and computer-generated imagery (CGI).
    The characters and sets are physical Lego toys shot with careful lighting
    and macro lenses while the atmospheric effects are CGI.
  </li>
  <li>
    <strong>Production Notes:</strong> The Sheriff's office is shot in front of
    a green-screen that was later replaced with the final background image.
    As with most animated films, voices were recorded and edited first for
    overall timing.
    All other sounds were added only after the visuals were complete.
    This film was shot with a Panasonic AG-DVX100 (DVCPRO HD),
    Letus35 lens adapter, and a variety of macro lenses.
  </li>
</ul>

<%= link_to "Watch: The Plastic Hero",
            "/filmography/the-plastic-hero.html",
            class: "button" %>

<hr>

<h2>Garden of Play</h2>

<ul>
  <li><strong>Release Date:</strong> 2009</li>
  <li><strong>Credits:</strong> Cinematographer and Editor</li>
  <li><strong>Runtime:</strong> 1 minute 51 seconds</li>
  <li>
    <strong>Synopsis:</strong> Experimental film made in 2009 that explores a
    variety of cinematographic techniques including deep-focus and shallow-focus
    photography, time-lapse, high-speed photography (slow motion), and rhythmic
    editing to music.
    The title refers to both the content of the images and the filmmaker’s
    playful experimentations.
  </li>
  <li>
    <strong>Production Notes:</strong> This film was shot in Colorado Springs
    with a Panasonic AG-DVX100 (DVCPRO HD), Letus35 lens adapter, and a variety
    of lenses. Edited and color graded with Final Cut Pro. The score came from a
    music library.
  </li>
</ul>

<%= link_to "Watch: Garden of Play",
            "/filmography/garden-of-play.html",
            class: "button" %>

<hr>

<h2>Awake</h2>

<ul>
  <li><strong>Release Date:</strong> 2003</li>
  <li><strong>Credits:</strong> Writer, Director, Editor, Producer</li>
  <li><strong>Runtime:</strong> 13 minutes 43 seconds</li>
  <li>
    <strong>Synopsis:</strong> Herby Laxx faces his greatest challenge when
    forces beyond his control refuse to leave him in peace.
    This fun light-hearted comedy was produced in 2003 with a $200 budget.
  </li>
  <li>
    <strong>Production Notes:</strong> Shot on standard definition digital video
    (miniDV) with no professional lights or dollies.
    Gorilla shooting methods were extensively employed to create the end result.
    Most sound was recorded on location but several sequences were replaced or
    enhanced with folly work during post.
    Edited using Final Cut Pro with the score mixed from music library sources.
  </li>
</ul>

<%= link_to "Watch: Awake",
            "/filmography/awake.html",
            class: "button" %>
